<div class="form-container">
    <h2>{{ (isEditMode ? 'EDITAR_AGENDAMENTO' : 'NOVO_AGENDAMENTO') | translate  }}</h2>

    <ng-container  *ngIf="agendamento">
      <p-datepicker inputId="dtInicio" [(ngModel)]="agendamento.inicio" [showTime]="true" hourFormat="24"/>
      <p-datepicker inputId="dtFim" [(ngModel)]="agendamento.fim" [showTime]="true" hourFormat="24" />
      <div>
        <p>{{agendamento.salaNome}}</p>
      </div>
    </ng-container>

    <button pButton label='{{"SALVAR" | translate}}'(click)="salvar()"></button>
    <button pButton label='{{"CANCELAR" | translate}}' class="p-button-secondary" routerLink="/"></button>
  </div>
  