<div class="form-container">
    <h2>{{ isEditMode ? 'Editar Agendamento' : 'Novo Agendamento' }}</h2>
  
    <div class="form-field">
      <label for="usuario">Usuário:</label>
      <input id="usuario" type="text" pInputText [(ngModel)]="agendamento.usuario">
    </div>
  
    <div class="form-field">
      <label for="sala">Sala:</label>
      <input id="sala" type="text" pInputText [(ngModel)]="agendamento.sala">
    </div>
  
    <div class="form-field">
      <label for="data">Data:</label>
      <input id="data" type="date" pInputText [(ngModel)]="agendamento.data">
    </div>
  
    <button pButton label="Salvar" (click)="salvar()"></button>
    <button pButton label="Cancelar" class="p-button-secondary" routerLink="/"></button>
  </div>
  