<div class="form-container">
  <h2>{{ (isEditMode ? 'EDITAR_AGENDAMENTO' : 'NOVO_AGENDAMENTO') | translate }}</h2>

  <ng-container *ngIf="agendamento">
    <div class="sala-selecionada">
      <p>{{ agendamento.salaNome }}</p>
    </div>
    <div class="input-group">
      <label for="dtInicio">{{ 'INICIO' | translate }}</label>
      <p-datepicker inputId="dtInicio" [(ngModel)]="agendamento.inicio" [showTime]="true" hourFormat="24" placeholder="Selecione a data e hora de início"></p-datepicker>
    </div>
    
    <div class="input-group">
      <label for="dtFim">{{ 'FIM' | translate }}</label>
      <p-datepicker inputId="dtFim" [(ngModel)]="agendamento.fim" [showTime]="true" hourFormat="24" placeholder="Selecione a data e hora de término"></p-datepicker>
    </div>
    
    
  </ng-container>

  <ng-container *ngIf="salas.length > 0">
    <div class="input-group">
      <label for="salaDropdown">{{ 'SELECIONE_SALA' | translate }}</label>
      <select id="salaDropdown" (change)="selecionarSala($event)">
        <option value="" disabled selected>{{ 'ESCOLHA_SALA' | translate }}</option>
        <option *ngFor="let sala of salas" [value]="sala.id">
          {{ sala.nome }}
        </option>
      </select>
    </div>

    <div *ngIf="sala" class="sala-detalhe">
      <h3>{{ "DETALHE_SALA_SELECIONADA" | translate }}:</h3>
      <p>{{ 'NOME' | translate }}: {{ sala.nome }}</p>
      <p>{{ 'CAPACIDADE' | translate }}: {{ sala.capacidade }}</p>
      <p>{{ 'FUSO_HORARIO' | translate }}: {{ sala.fusoHorario }}</p>
      <p>{{ 'DESCRICAO' | translate }}: {{ sala.descricao }}</p>
    </div>
  </ng-container>

  <div class="button-group">
    <button pButton label="{{ 'SALVAR' | translate }}" (click)="salvar()" class="salvar-button"></button>
    <button pButton label="{{ 'CANCELAR' | translate }}" class="p-button-secondary cancelar-button" routerLink="/menu/agendamentos"></button>
  </div>
</div>
